<!DOCTYPE html>
<html>
<head>
  <title>FirstAdminPanel</title>
  <%= stylesheet_link_tag    "first_admin_panel/application", media: "all" %>
  <%= javascript_include_tag "first_admin_panel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
